@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap");
:root {
	--primary:#0098ff;
    --secondary:#40b884;
    --white:#fff;
    --black:#000;
    --gray:#f5f5f5;
}

body {
	position: relative;
}
.sectionHeader{
	width: fit-content;
}
.sectionHeader hr{
	width: 70%;
	height: 2px;
	background-color: #7c4dff;
	left: 50%;
    transform: translateX(-50%);
}

.hero .splide__slide {
	width: 100%;
	height: calc(100vh - 120px);
}
/* BUY */
.why {
	width: fit-content;
}
.arrow {
	margin-bottom: 110px;
}
.delivery {
	margin-top: 90px;
}
/*  */
.splide__slide .productCard {
	width: 90%;
  margin: auto;
}
.see{
	text-align: center;
	bottom: 0;
}
/* Buy Process */

.why .box h3 {
	font-size: 128px;
	color: #f5c6ab;
	font-weight: 900;
	text-shadow: 0 10px 0 #7c4dffd1;
}

.why .box2 {
	background-color: #7c4dff;
	transform: translateY(-30px);
}
.why .box .overlay {
	z-index: -1;
	background-color: #7c4dff;
	height: 0%;
	width: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: 1s;
}
.why .box:hover .overlay {
	height: 100%;
}
.why .box {
	color: #7c4dff;
}
.why .box:hover,
.why .box:hover .text {
	color: #fff !important;
}
/* Why */
.why .row{
  background-image: url(../images/Achievements-Banner.gif);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.why .row .overlay{
  width: 100%;
  height: 100%;
  background-image: url(../images/sparkle1.png);
  animation: sparkle 60s linear infinite;
  top: 0;
  left: 0;
  margin: 0;
}
.why .counterContainer{
  background-color: #0000005f;
}
/* Categories */
.categoryCtn .motherboardCtn,
.categoryCtn .processorsCtn,
.categoryCtn .ramCtn,
.categoryCtn .SSDCtn,
.categoryCtn .Graphic_CardCtn,
.categoryCtn .CasesCtn{
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
}
.categoryCtn .overlay{
	transition: 1s;
	height: 100%;
}
.categoryCtn .text{
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	transition: 1s;
	/* opacity: 0; */
}
.overlay:hover .text{
	opacity: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.categoryCtn .overlay:hover{
	background-color: #000000c3;
	height: 100%;
}
.categoryCtn .motherboardCtn{
	background-image: url(../images/board.jpg);
}
.categoryCtn .processorsCtn{
	background-image: url(../images/Processors.jpg);
}
.categoryCtn .ramCtn{
	background-image: url(../images/ram.jpg);
}
.categoryCtn .SSDCtn{
	background-image: url(../images/ssd.webp);
}
.categoryCtn .Graphic_CardCtn{
	background-image: url(../images/Graphic\ Card.webp);
}
.categoryCtn .CasesCtn{
	background-image: url(../images/Cases.webp);
}
.Categories .nav-tabs .nav-link{
	border: none !important;
}
.Categories .nav-tabs .nav-link{
	color: var(--black);
}
.Categories .nav-link.active{
	border: none !important;
	background-color: transparent !important;
	color: var(--primary);
}
@keyframes sparkle {
  0% {
      background-position: 0 0
  }

  to {
      background-position: -500px -1000px;
  }
}
@media screen and (max-width: 480px) {
	.hero .splide__slide{
		height: 50vh;
	}
	.Categories .nav-link{
		font-size: 14px;
	}
}
@media screen and (max-width: 992px) {
	.why .box2 {
		transform: translateY(0px);
	}
}